{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'pepper/base.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-logo">
                <img src="{% static 'pepper/img/pepper_logo.svg' %}" alt="PePPEr" class="pepper-icon">
                <!-- 添加的图标，你需要替换为实际的图片路径 -->
                <span class="pepper-title">PePPEr</span> <!-- 独立的 "PePPEr" -->

            </div>

            <a class="navbar-brand" href="#">
                A Permeability Porosity and Pycnometry volcanic Eruption sample database
            </a>
        </div>
    </nav>
</header>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'data_plotter' %}">Data plotter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'download_data' %}">Download data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'upload_new_data' %}">Upload new data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'polydispersivity_tool' %}">Polydispersivity tool</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'literature_finder' %}">Literature finder</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block content %}
                <!-- 这里将插入页面特有的内容 -->
            {% endblock %}
        </main>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Powered by Django | © Mitchell, Colombier et al. 2023</span>
    </div>
</footer>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
